<!DOCTYPE html>
<html>
    <head>
      <title>Enter Texter's Lab</title>
      <link rel="stylesheet" type ="text/css" href="/css/style.css">
  </head>
  <body>
    
    <center>
      
        <div id= "heading">
    <h1>TEXTERS LAB</h1>
        
    
    <form action="/" method="POST">
      <div id = "button">
    <input type="submit">
      </div>
      
</form>
            </div>
    </center>
      

  </body>
</html>