<!DOCTYPE html>
<html>
    <head>
      
      <link rel="stylesheet" type ="text/css" href="/css/style.css">
      <title>Texter's Lab</title>
  </head>
  <body>
<center>
  <h1>Texter's Lab</h1>
<form action="/index" method="POST">
  <h4>What phone number would you like to message?</h4>
  <input type="text" name="recipient"><br>
  <h4>Enter a message?</h4>
<input type="radio" name="choice" value="Error:45672: Verizon has temporarily paused the number you are trying to reach, please try again at another time" checked>Error:45672: Verizon has temporarily paused the number you are trying to reach, please try again at another time
<br>
<input type="radio" name="choice" value="I love you">I love you
  <br>
<input type="radio" name="choice" value="R">Random
  <br>
<input type="radio" name="choice" value="">Type your own
 <input type="text" name="body"><br>
<input type="submit" class="btn btn-primary">

</form>
  </center>
  </body>
  </html>